@model dynamic
@{
    ViewBag.Title = "Send Email";
    Layout = null;
    var schoolImage = @System.Configuration.ConfigurationManager.AppSettings["SchoolImage"];

}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-5 login-form mx-auto float-none">

            <!--Form with header-->
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    <div class="form-header">
                        <h3>
                            <img class="img-responsive" src="~/Content/img/@schoolImage" />
                            @*<i class="fa fa-lock"></i>*@
                        </h3>
                    </div>

                    <!--Body-->
                    <p>
                        <h2><b>You have Registered Successfully, </b>
                            <br/>
                            Kindly Click on the Activation link sent to your Email to complete the registration</h2>
 
                    </p>
                </div>



            </div>
            <!--/Form with header-->

        </div>
    </div>
</div>

