@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<body>
    <div class="row">
        <div class="col-md-6 col-lg-5 login-form mx-auto float-none">

            <!--Form with header-->
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    <!--Header-->
                    <div class="form-header">
                        <h3><i class="fa fa-user"></i><a href="@Url.Action("Index","Home")">CodeDenim</a></h3>
                    </div>

                    <!--Body-->
                    <form action="@Href("")" method="post">
                        @Html.AntiForgeryToken()
                        <div class="md-form">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="form1" class="form-control">
                            <label for="form1">First name</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="form2" class="form-control">
                            <label for="form2">Last name</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="form3" class="form-control">
                            <label for="form2">Your email</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="form4" class="form-control">
                            <label for="form4">Your password</label>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-default">Sign up</button>
                        </div>
                    </form>
                </div>
</div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>

