body {
    background-color: white;
    font-family: open sans, sans-serif; 
    
}
.form-header{
    background-color: #093 !important;
}
.grey-skin .navbar {
    background-color: #093 !important;
    color: #fff;
}
a {
    color: #fff !important;
}
.white-skin .side-nav {
    background: #000;
}
.i.btn-default {
    background-color: #093 !important;
}
a.my-class {
    color: #333333 !important;
}

   