body {
    color: #000;
    font-size: 14px;
    font-family: 'Muli', Arial, sans-serif; }
    
.form-header{
    background-color: #093 !important;
}
.grey-skin .navbar {
    background-color: #093 !important;
    color: #fff;
}
a {
    color: #fff !important;
}
.white-skin .side-nav {
    background: #000;
}
.i.btn-default {
    background-color: #093 !important;
}
a.my-class {
    color: #333333 !important;
}

 a.my-link {
     color: #fff !important;
 }
.myVideo {
    object-fit: fill;
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
}
 span.nav-link {
     color: white !important;
 }
 .white-skin .btn-default {
     background-color: #093 !important;
 }
 .fa-user :after {
     color: #093 !important;
 }
.btn {
    border-radius: 7px;
    color: #093 !important;
    background-color: transparent !important;
    box-shadow: 2px 0px 7px #093;
}
i.prefix:active {
    color: #093 !important;
}