@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";

}
<h2>@ViewBag.Title Codedenim</h2>


<h3>CODEDENIM platform is a community of entrepreneurial minded youths  trained and liberated from consumerism ideology. Thus
    transforming their minds for innovation, invention and enterprise discernment</h3>

