@{
    ViewBag.Title = "Code-Denim Homepage";
    Layout = "~/Views/Shared/_LayoutCodeDenim.cshtml";
}
<body class="grey-skin intro-page creative-lp">
<body class="grey-skin intro-page creative-lp">
<!--Navigation & Intro-->
<header>
        
    <!--Navbar-->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">
           
        <div class="container">
               
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                
            <a class="navbar-brand" href="@Url.Action("CodeDenim","Home")">
                <img src="~/Content/img/CodeDemin.png"  height="50" width="50"/>
                <strong>Codedenim</strong>
            </a>
                
            <div class="collapse navbar-collapse" id="navbarNav">
                   
                <!--Links-->
                <ul class="navbar-nav mr-auto smooth-scroll">
                   
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("SignIn","Account")" data-offset="100">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("SignIn","Account")" data-offset="100">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact","Home")" data-offset="100">Contact Us</a>
                    </li>
                </ul>
                    
                <!--Social Icons-->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
                    
            </div>
        </div>
    </nav>
    <!--/Navbar-->

    <!--Video-->
    <div class="intro-video view" id="home">
        <video poster="" playsinline autoplay muted loop>
            <source src="~/Content/Videos/Ipad.mp4" type="video/mp4">
        </video>
        <div class="hm-gradient">
            <div class="full-bg-img flex-center">
                <div class="container smooth-scroll">
                    <div class="row">
                        <div class="col-md-12 white-text text-center smooth-scroll">
                            <div class="wow fadeInDown" data-wow-delay="0.2s">
                                <h3 class="brand-name font-bold white-text mb-2">Welcome To CODEDENIM</h3>
                                <hr class="hr-light">
                                <h4 class="subtext-header mt-2 mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur, nihil voluptatem.</h4>
                            </div>
                            <a href="#about" data-offset="90" class="btn btn-rounded btn-light-green-2 wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-home"></i> Visit us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Video-->

</header>
<!--/Navigation & Intro-->
        
