@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutBoard.cshtml";
}
<body class="grey-skin intro-page creative-lp">

<!--Navigation & Intro-->
<header>
        
    <!--Navbar-->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">
           
        <div class="container">
               
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/Content/img/CodeDemin.png"  height="50" width="50"/>
                <strong>Codedenim</strong>
            </a>
                
            <div class="collapse navbar-collapse" id="navbarNav">
                   
                <!--Links-->
                <ul class="navbar-nav mr-auto">
                   
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login","Account")" data-offset="100">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("TutorRegistration","Account")" data-offset="100">Register</a>
                    </li>              
                </ul>
                    
                <!--Social Icons-->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
                    
            </div>
        </div>
    </nav>
    <!--/Navbar-->
    <!--Video-->
    <div class="intro-video view" id="home">
     </div>   
</header>
<!--/Navigation & Intro-->
</body>       

