@{
    ViewBag.Title = "Codedenim Home";
    Layout = "~/Views/Shared/_GeneralLayoutNewUI.cshtml";
}


    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: home -->
        <section id="home">
            <div class="container-fluid p-0">
                @* slider space *@
                <!-- START REVOLUTION SLIDER 5.0.7 -->
                @*<div id="wrapper">
                 
                    <ul class="rslides" id="slider1">
                        <li><img src="~/Content/Assets/images/1.jpg" alt=""></li>
                        <li><img src=""~/Content/Assets/images/2.jpg" alt=""></li>
                        <li><img src=""~/Content/Assets/images/3.jpg" alt=""></li>
                    </ul>
              

                </div>*@
</section>

        <!-- Section: Features -->
        @*<section class="layer-overlay overlay-white-9" data-bg-img="~/Content/Assets/images/bg/bg-pattern.png">
            <div class="container pb-40">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                                <a href="#" class="icon icon-circled icon-lg" data-bg-color="#FC9928">
                                    <i class="pe-7s-study text-white font-48"></i>
                                </a>
                                <h4 class="icon-box-title text-uppercase letter-space-1 font-20 mt-15"><a href="#">Popular Courses</a></h4>
                                <p class="">Lorem ipsum dolor sit ametconsect etur adipisicing elit. Numquam modi consequuntur maxime voluptates earum illo sunt</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                                <a href="#" class="icon icon-circled icon-lg" data-bg-color="#43B14B">
                                    <i class="pe-7s-notebook text-white font-48"></i>
                                </a>
                                <h4 class="icon-box-title text-uppercase letter-space-1 font-20 mt-15"><a href="#">Book Library</a></h4>
                                <p class="">Lorem ipsum dolor sit ametconsect etur adipisicing elit. Numquam modi consequuntur maxime voluptates earum illo sunt</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                                <a href="#" class="icon icon-circled icon-lg" data-bg-color="#00C3CB">
                                    <i class="pe-7s-diamond text-white font-48"></i>
                                </a>
                                <h4 class="icon-box-title text-uppercase letter-space-1 font-20 mt-15"><a href="#">Best Teachers</a></h4>
                                <p class="">Lorem ipsum dolor sit ametconsect etur adipisicing elit. Numquam modi consequuntur maxime voluptates earum illo sunt</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                                <a href="#" class="icon icon-circled icon-lg" data-bg-color="#EF5861">
                                    <i class="pe-7s-medal text-white font-48"></i>
                                </a>
                                <h4 class="icon-box-title text-uppercase letter-space-1 font-20 mt-15"><a href="#">Certification</a></h4>
                                <p class="">Lorem ipsum dolor sit ametconsect etur adipisicing elit. Numquam modi consequuntur maxime voluptates earum illo sunt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

        <!-- Section: Courses -->
        <section id="courses">
            <div class="container pb-40">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-uppercase title">Our <span class="text-theme-colored2">Courses</span></h2>
                            <p class="text-uppercase mb-0">Choose Your Desired Course</p>
                            <div class="double-line-bottom-centered-theme-colored-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row mtli-row-clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="course-single-item style2 text-center mb-40">
                            <div class="course-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm1.jpg">
                                @*<div class="price-tag">$460</div>*@
                            </div>
                            <div class="course-details border-1px clearfix p-15 pt-15">
                                <div class="course-top-part">
                                    <h6 class="line-bottom-centered mt-20 mb-30">Theoritical Entrepreneurship</h6>
                                </div>
                                <div class="author-thumb">
                                    @*<img src="~/Content/Assets/images/course/xs3.jpg" width="54" alt="" class="img-circle img-thumbnail">*@
                                </div>
                                @*<p class="course-description mt-5">The earth is the only planet made with unlimited funds and resources fashioned to reward and empower its tenants </p>*@
                            </div>
                            @*<div class="course-meta bg-silver-deep">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar text-theme-colored2 mr-5"></i>3 hours</li>
                                    <li><i class="fa fa-book text-theme-colored2 mr-5"></i>18 Lessons</li>
                                    <li><i class="fa fa-clock-o text-theme-colored2 mr-5"></i>34 Seats</li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="course-single-item style2 text-center mb-40">
                            <div class="course-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm2.jpg">
                                @*<div class="price-tag">Free</div>*@
                            </div>
                            <div class="course-details border-1px clearfix p-15 pt-15">
                                <div class="course-top-part">
                                    <h6 class="line-bottom-centered mt-20 mb-30">Practical Entrepreneurship</h6>
                                </div>
                                <div class="author-thumb">
                                    @*<img src="~/Content/Assets/images/course/xs3.jpg" width="54" alt="" class="img-circle img-thumbnail">*@
                                </div>
                                @*<p class="course-description mt-5">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend repreh</p>*@
                            </div>
                            @*<div class="course-meta bg-silver-deep">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar text-theme-colored2 mr-5"></i>3 hours</li>
                                    <li><i class="fa fa-book text-theme-colored2 mr-5"></i>18 Lessons</li>
                                    <li><i class="fa fa-clock-o text-theme-colored2 mr-5"></i>34 Seats</li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="course-single-item style2 text-center mb-40">
                            <div class="course-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm3.jpg">
                                @*<div class="price-tag">$180</div>*@
                            </div>
                            <div class="course-details border-1px clearfix p-15 pt-15">
                                <div class="course-top-part">
                                 <h6 class="line-bottom-centered mt-20 mb-30">Sectorial Entrepreneurship</h6>
                                </div>
                                @*<div class="author-thumb">
                                    <img src="~/Content/Assets/images/course/xs3.jpg" width="54" alt="" class="img-circle img-thumbnail">
                                </div>*@
                                @*<p class="course-description mt-5">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend repreh</p>*@
                            </div>
                            @*<div class="course-meta bg-silver-deep">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar text-theme-colored2 mr-5"></i>3 hours</li>
                                    <li><i class="fa fa-book text-theme-colored2 mr-5"></i>18 Lessons</li>
                                    <li><i class="fa fa-clock-o text-theme-colored2 mr-5"></i>34 Seats</li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="course-single-item style2 text-center mb-40">
                            <div class="course-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm4.jpg">
                                @*<div class="price-tag">$180</div>*@
                            </div>
                            <div class="course-details border-1px clearfix p-15 pt-15">
                                <div class="course-top-part">
                                    <h6 class="line-bottom-centered mt-20 mb-30">Pathway to Innovation</h6>
                                </div>
                                @*<div class="author-thumb">
                                    <img src="~/Content/Assets/images/course/xs3.jpg" width="54" alt="" class="img-circle img-thumbnail">
                                </div>*@
                                @*<p class="course-description mt-5">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend repreh</p>*@
                            </div>
                            @*<div class="course-meta bg-silver-deep">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar text-theme-colored2 mr-5"></i>3 hours</li>
                                    <li><i class="fa fa-book text-theme-colored2 mr-5"></i>18 Lessons</li>
                                    <li><i class="fa fa-clock-o text-theme-colored2 mr-5"></i>34 Seats</li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="course-single-item style2 text-center mb-40">
                            <div class="course-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm3.jpg">
                                @*<div class="price-tag">$120</div>*@
                            </div>
                            <div class="course-details border-1px clearfix p-15 pt-15">
                                <div class="course-top-part">
                                  <h6 class="line-bottom-centered mt-20 mb-30">Wisdom for the Wise</h6>
                                </div>
                                @*<div class="author-thumb">
                                    <img src="~/Content/Assets/images/course/xs3.jpg" width="54" alt="" class="img-circle img-thumbnail">
                                </div>*@
                                @*<p class="course-description mt-5">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend repreh</p>*@
                            </div>
                            @*<div class="course-meta bg-silver-deep">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar text-theme-colored2 mr-5"></i>3 hours</li>
                                    <li><i class="fa fa-book text-theme-colored2 mr-5"></i>18 Lessons</li>
                                    <li><i class="fa fa-clock-o text-theme-colored2 mr-5"></i>34 Seats</li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="course-single-item style2 text-center mb-40">
                            <div class="course-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm3.jpg">
                                @*<div class="price-tag">$360</div>*@
                            </div>
                            <div class="course-details border-1px clearfix p-15 pt-15">
                                <div class="course-top-part">
                                   <h6 class="line-bottom-centered mt-20 mb-30">Generational Wealth</h6>
                                </div>
                                @*<div class="author-thumb">
                                    <img src="~/Content/Assets/images/course/xs3.jpg" width="54" alt="" class="img-circle img-thumbnail">
                                </div>*@
                                @*<p class="course-description mt-5">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend repreh</p>*@
                            </div>
                            @*<div class="course-meta bg-silver-deep">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar text-theme-colored2 mr-5"></i>3 hours</li>
                                    <li><i class="fa fa-book text-theme-colored2 mr-5"></i>18 Lessons</li>
                                    <li><i class="fa fa-clock-o text-theme-colored2 mr-5"></i>34 Seats</li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="course-single-item style2 text-center mb-40">
                            <div class="course-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm3.jpg">
                                @*<div class="price-tag">Free</div>*@
                            </div>
                            <div class="course-details border-1px clearfix p-15 pt-15">
                                <div class="course-top-part">
                                  <h6 class="line-bottom-centered mt-20 mb-30">The Money River</h6>
                                </div>
                                @*<div class="author-thumb">
                                    <img src="~/Content/Assets/images/course/xs3.jpg" width="54" alt="" class="img-circle img-thumbnail">
                                </div>*@
                                @*<p class="course-description mt-5">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend repreh</p>*@
                            </div>
                            @*<div class="course-meta bg-silver-deep">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar text-theme-colored2 mr-5"></i>3 hours</li>
                                    <li><i class="fa fa-book text-theme-colored2 mr-5"></i>18 Lessons</li>
                                    <li><i class="fa fa-clock-o text-theme-colored2 mr-5"></i>34 Seats</li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="course-single-item style2 text-center mb-40">
                            <div class="course-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm3.jpg">
                                @*<div class="price-tag">$240</div>*@
                            </div>
                            <div class="course-details border-1px clearfix p-15 pt-15">
                                <div class="course-top-part">
                                <h6 class="line-bottom-centered mt-20 mb-30">Wealth Operations</h6>
                                </div>
                                @*<div class="author-thumb">
                                    <img src="~/Content/Assets/images/course/xs3.jpg" width="54" alt="" class="img-circle img-thumbnail">
                                </div>*@
                                @*<p class="course-description mt-5">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend repreh</p>*@
                            </div>
                            @*<div class="course-meta bg-silver-deep">
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar text-theme-colored2 mr-5"></i>3 hours</li>
                                    <li><i class="fa fa-book text-theme-colored2 mr-5"></i>18 Lessons</li>
                                    <li><i class="fa fa-clock-o text-theme-colored2 mr-5"></i>34 Seats</li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Team -->
        @*<section id="team" class="bg-silver-deep">
            <div class="container pb-40">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-uppercase title">Qualified <span class="text-theme-colored2">Teachers</span></h2>
                            <p class="text-uppercase mb-0">We Have Highly Qualified Teachers</p>
                            <div class="double-line-bottom-centered-theme-colored-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row mtli-row-clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="team-members border-bottom-theme-colored2px text-center maxwidth400 mb-30">
                            <div class="team-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/team/1.jpg">
                                <div class="team-overlay"></div>
                                <ul class="styled-icons team-social icon-sm">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-details">
                                <h4 class="text-uppercase text-theme-colored font-weight-600 m-5">Jhon Anderson</h4>
                                <h6 class="text-gray font-13 font-weight-400 line-bottom-centered mt-0">Civil Engineer</h6>
                                <p class="hidden-md">Lorem ipsum dolor sit ametcon secte adipis elit. Debitis magnam placeat dignissimos saperator ellium</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="team-members border-bottom-theme-colored2px text-center maxwidth400 mb-30">
                            <div class="team-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/team/2.jpg">
                                <div class="team-overlay"></div>
                                <ul class="styled-icons team-social icon-sm">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-details">
                                <h4 class="text-uppercase text-theme-colored font-weight-600 m-5">Jhon Anderson</h4>
                                <h6 class="text-gray font-13 font-weight-400 line-bottom-centered mt-0">Civil Engineer</h6>
                                <p class="hidden-md">Lorem ipsum dolor sit ametcon secte adipis elit. Debitis magnam placeat dignissimos saperator ellium</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="team-members border-bottom-theme-colored2px text-center maxwidth400 mb-30">
                            <div class="team-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/team/3.jpg">
                                <div class="team-overlay"></div>
                                <ul class="styled-icons team-social icon-sm">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-details">
                                <h4 class="text-uppercase text-theme-colored font-weight-600 m-5">Jhon Anderson</h4>
                                <h6 class="text-gray font-13 font-weight-400 line-bottom-centered mt-0">Civil Engineer</h6>
                                <p class="hidden-md">Lorem ipsum dolor sit ametcon secte adipis elit. Debitis magnam placeat dignissimos saperator ellium</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="team-members border-bottom-theme-colored2px text-center maxwidth400 mb-30">
                            <div class="team-thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/team/4.jpg">
                                <div class="team-overlay"></div>
                                <ul class="styled-icons team-social icon-sm">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-details">
                                <h4 class="text-uppercase text-theme-colored font-weight-600 m-5">Jhon Anderson</h4>
                                <h6 class="text-gray font-13 font-weight-400 line-bottom-centered mt-0">Civil Engineer</h6>
                                <p class="hidden-md">Lorem ipsum dolor sit ametcon secte adipis elit. Debitis magnam placeat dignissimos saperator ellium</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

        <!-- Section: Events -->
        <section class="layer-overlay overlay-white-9" data-bg-img="~/Content/Assets/images/bg/bg-pattern.png">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="text-uppercase line-bottom-theme-colored-2 mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i>Our <span class="text-theme-colored2">Vision</span></h3>
                            <article>
                                <div class="event-block">
                                    @*<div class="event-date text-center">
                                        <ul class="text-white font-18 font-weight-600">
                                            <li class="border-bottom">28</li>
                                            <li class="">Feb</li>
                                        </ul>
                                    </div>*@
                                    <div class="event-meta border-1px pl-40">
                                        <div class="event-content pull-left flip">
                                            <h4 class="event-title media-heading font-roboto-slab font-weight-700"><a href="#">Entrepreneurship</a></h4>
                                            @* <span class="mb-10 text-gray-darkgray mr-10"><i class="fa fa-clock-o mr-5 text-theme-colored2"></i> at 5.00 pm - 7.30 pm</span>
        <span class="text-gray-darkgray"><i class="fa fa-map-marker mr-5 text-theme-colored2"></i> 25 Newyork City</span>*@
                                            <p class="mt-5">Build a community/platform of entrepreneurial minded youths</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="event-block">
                                    @*<div class="event-date text-center">
                                        <ul class="text-white font-18 font-weight-600">
                                            <li class="border-bottom">28</li>
                                            <li class="">Feb</li>
                                        </ul>
                                    </div>*@
                                    <div class="event-meta border-1px pl-40">
                                        <div class="event-content pull-left flip">
                                            <h4 class="event-title media-heading font-roboto-slab font-weight-700"><a href="#">Building Leaders</a></h4>
                                            @*<span class="mb-10 text-gray-darkgray mr-10"><i class="fa fa-clock-o mr-5 text-theme-colored2"></i> at 5.00 pm - 7.30 pm</span>
                                            <span class="text-gray-darkgray"><i class="fa fa-map-marker mr-5 text-theme-colored2"></i> 25 Newyork City</span>*@
                                            <p class="mt-5">To initiate a culture of solution birthing across disciplines</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="event-block">
                                    @*<div class="event-date text-center">
                                        <ul class="text-white font-18 font-weight-600">
                                            <li class="border-bottom">28</li>
                                            <li class="">Feb</li>
                                        </ul>
                                    </div>*@
                                    <div class="event-meta border-1px pl-40">
                                        <div class="event-content pull-left flip">
                                            <h4 class="event-title media-heading font-roboto-slab font-weight-700"><a href="#">Innovation & Invention</a></h4>
                                            @*<span class="mb-10 text-gray-darkgray mr-10"><i class="fa fa-clock-o mr-5 text-theme-colored2"></i> at 5.00 pm - 7.30 pm</span>
                                            <span class="text-gray-darkgray"><i class="fa fa-map-marker mr-5 text-theme-colored2"></i> 25 Newyork City</span>*@
                                            <p class="mt-5">
                                                Transforming the mind
                                                for innovation, inventions and enterprise discernment
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-uppercase line-bottom-theme-colored-2 mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i>Video <span class="text-theme-colored2">Tour</span></h3>
                            <div class="box-hover-effect about-video">
                                <div class="effect-wrapper">
                                    <div class="thumb">

                                       
                                        <video controls="controls">
                                            <source src="~/Content/Videos/Code%20Denim%20(1).mp4" type="video/mp4" />
                                        </video>
                                        @*<img class="img-responsive img-fullwidth" src="~/Content/Assets/images/photos/1.jpg" alt="">*@
                                    </div>
                                    @*<div class="video-button"></div>*@
                                    @*<a class="hover-link" data-lightbox-gallery="youtube-video" href="https://www.youtube.com/watch?v=F3QpgXBtDeo" title="Youtube Video">Youtube Video</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

   
        <!-- Divider: Subscribe Newsletter -->
        <section>
            <div class="container pt-0 pb-0">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="subscribe-newsletter">
                            <div class="newsletter-form">
                                <h2 class="text-theme-colored2">Subscribe Us</h2>
                                <form id="mailchimp-subscription-form-footer" class="newsletter-form mt-10">
                                    <div class="input-group">
                                        <input type="email" id="mce-EMAIL-footer" data-height="48px" class="form-control input-sm" placeholder="Your Email" name="EMAIL" value="">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-colored btn-theme-colored text-white btn-xs m-0" data-height="48px">Subscribe</button>
                                        </span>
                                    </div>
                                </form>
                                @*<p class="text-gray-darkgray mt-20">Lorem ipsum dolor sit ametco nsecteter adipisicing elit. Molestias nemo, neque sequi ipsam vitae provident asperna quasi neque sequi ipsam.</p>*@

                                <!-- Mailchimp Subscription Form Validation-->
                                <script type="text/javascript">
                                        $('#mailchimp-subscription-form-footer').ajaxChimp({
                                            callback: mailChimpCallBack,
                                            url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
                                        });

                                        function mailChimpCallBack(resp) {
                                            // Hide any previous response text
                                            var $mailchimpform = $('#mailchimp-subscription-form-footer'),
                                                $response = '';
                                            $mailchimpform.children(".alert").remove();
                                            if (resp.result === 'success') {
                                                $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                                            } else if (resp.result === 'error') {
                                                $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                                            }
                                            $mailchimpform.prepend($response);
                                        }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end main-content -->
    </div>
    
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

