
@{
    ViewBag.Title = "Codedenim Home";
    Layout = "~/Views/Shared/_GeneralLayoutNewUI.cshtml";
}


<!-- Start main-content -->
<div class="main-content">
    <!-- Section: home -->
    <section id="home">
        <div class="container-fluid p-0">


            @*<img src="~/Content/Videos/codedeninLo;lgo1.jpg" class="" />*@
            <!--BlackHJohnnyslide begins-->
            <div id="sequence" class="seq">
                <div class="seq-screen">
                    <ul class="seq-canvas">
                        <li class="seq-in">
                            <div class="seq-model">
                                

                                <img data-seq src="~/Content/images/ezgif.com-gif-maker.gif" alt="get certified" />
                            </div>
                            <div class="seq-title">
                                <h2 data-seq>Time Waits For No One</h2>
                                <h3 data-seq>Why not get certified learning what you love NOW!...</h3>
                            </div>
                        </li>
                        <li>
                            <div class="seq-model">
                                
                                <img data-seq src="~/Content/images/ezgif.com-gif-maker (1).gif" alt="learn as A corper" />
                            </div>
                            <div class="seq-title">
                                <h2 data-seq>As A corper</h2>
                                <h3 data-seq>Build your career on this platform, during your service year...</h3>
                            </div>
                        </li>
                        <li>
                            <div class="seq-readingguy">
                                
                                <img data-seq src="~/Content/images/ezgif.com-gif-maker (3) (1).gif" alt="study on the go" />
                            </div>
                           

                            <div class="seq-title">
                                <h2 data-seq>Learn on the go and from your comfort zone</h2>
                                <h3 data-seq>Build your career from wherever you are</h3>
                            </div>

                        </li>
                    </ul>
                </div>
                <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                    <button type="button" class="seq-prev" aria-label="Previous">Previous</button>
                    <button type="button" class="seq-next" aria-label="Next">Next</button>
                </fieldset>
               
            </div>
            <!--blackHJohnnyslide ends-->
        </div>
    </section>

    <!-- Section: home-boxes -->
    <section>
        <div class="container pt-0 pb-0">
            <div class="section-content">
                <div class="row equal-height-inner home-boxes" data-margin-top="10px">
                    <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
                        <div class="sm-height-auto" data-bg-color="#5D9CEC">
                            <div class="features-box-colored text-center p-15 pt-30 pb-20">
                                <i class="fa fa-graduation-cap font-54 mb-20 text-white"></i>
                                <h4 class="text-uppercase font-weight-600 mt-0"><a href="page-donate.html" class="text-white">Mission</a></h4>
                                <p class="text-white">
                                    To initiate a culture of solution birthing across disciplines, in all stages & at all levels,
                                    work and study engagement
                                </p>
                                <div class="shadow-icon"><i class="pe-7s-mail-open"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2">
                        <div class="sm-height-auto" data-bg-color="#EF5861">
                            <div class="features-box-colored text-center p-15 pt-30 pb-20">
                                <i class="fa fa-book font-54 mb-20 text-white"></i>
                                <h4 class="text-uppercase font-weight-600 mt-0"><a href="page-donate.html" class="text-white">Vision</a></h4>
                                <p class="text-white">
                                    To build a community/platform of entrepreneurial minded youths, who would be
                                    trained and liberated from the consumerism ideology
                                </p>
                                <div class="shadow-icon"><i class="pe-7s-mail-open"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay3">
                        <div class="sm-height-auto" data-bg-color="#E79800">
                            <div class="features-box-colored text-center p-15 pt-30 pb-20">
                                <i class="fa fa-user-o font-54 mb-20 text-white"></i>
                                <h4 class="text-uppercase font-weight-600 mt-0"><a href="page-donate.html" class="text-white">Users</a></h4>
                                <p class="text-white">Youths (Undergraduates, NYSC and from the informal sector)</p>
                                <div class="shadow-icon"><i class="pe-7s-mail-open"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay4">
                        <div class="sm-height-auto" data-bg-color="#43B14B">
                            <div class="features-box-colored text-center p-15 pt-30 pb-20">
                                <i class="fa fa-certificate font-54 mb-20 text-white"></i>
                                <h4 class="text-uppercase font-weight-600 mt-0"><a href="page-donate.html" class="text-white">Purpose</a></h4>
                                <p class="text-white">Transforming the minds for innovation, invention and enterprise discernment</p>
                                <div class="shadow-icon"><i class="pe-7s-mail-open"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section About -->
    <section>
        <div class="container pt-50 pb-40">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-uppercase font-weight-600 mt-0">About <span class="text-theme-colored2">Codedenim</span></h3>
                        <div class="double-line-bottom-theme-colored-2"></div>
                        <p class="font-16 mt-20">
                            A platform/community of entrepreneurial minded youths (undergraduates, NYSC
                            & informal sector) trained and liberated from consumerism ideology
                        </p>
                        @*<ul class="list theme-colored2 angle-double-right">
                                <li>We achieved most leading universtiy award 2017</li>
                                <li>We always try to provide our best quality education</li>
                                <li>Over 2000+ students has completed graduation</li>
                                <li>Best online course provide university this year</li>
                            </ul>
                            <a href="#" class="btn btn-colored btn-theme-colored2 text-white btn-lg pl-40 pr-40 mt-10">Read More</a>*@
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-uppercase font-weight-600 mt-0 mt-sm-30">Video <span class="text-theme-colored2">Tour</span></h3>
                        <div class="double-line-bottom-theme-colored-2"></div>
                        <div class="box-hover-effect about-video">
                            <div class="effect-wrapper">
                                <div class="thumb">
                                    <video controls="controls" class="img-fullwidth" style="width:350px; height:255px">
                                        <source src="~/Content/Videos/CodeDenim1.mp4" type="video/mp4" />
                                    </video>
                                  
                                    @*<video controls="controls" class="img-fullwidth" style="width:350px; height:200px">
            <source src="~/Content/Videos/Code%20Denim%20(1).mp4" type="video/mp4" />
        </video>*@
                                </div>
                                @*<img class="img-fullwidth" src="~/Content/Assets/images/about/video-thumb.jpg" alt="project">
                                    </div>
                                    <div class="video-button"></div>
                                    <a class="hover-link" data-lightbox-gallery="youtube-video" href="https://www.youtube.com/watch?v=F3QpgXBtDeo" title="Youtube Video">Youtube Video</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-uppercase font-weight-600 mt-0 mt-sm-30">Upcoming <span class="text-theme-colored2">Events</span></h3>
                        <div class="double-line-bottom-theme-colored-2"></div>
                        <article>
                            <div class="event-small media sm-maxwidth400 mt-0 mb-0 pt-0 pb-15">
                                <div class="event-date text-center">
                                    <ul class="text-white">
                                        <li class="font-18 font-weight-700 border-bottom">16</li>
                                        <li class="font-14 text-center text-uppercase mt-5">Jan</li>
                                    </ul>
                                </div>
                                <div class="event-content pt-5">
                                    <h5 class="media-heading font-16 font-weight-600 mb-5"><a href="#">Launching Our PlatForm</a></h5>
                                    <span class="mr-10"><i class="fa fa-clock-o text-theme-colored2"></i> 10.00 am - 2.30 pm</span>
                                    <span> <i class="fa fa-map-marker text-theme-colored2"></i> Plot 7A Ara Rocks Creative House, Off Liberty Dam Road-Behind De Eden Hotel Jos-Plateau State..</span>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="event-small media sm-maxwidth400 mt-5 mb-0 pt-10 pb-15">
                                <div class="event-date text-center">
                                    <ul class="text-white">
                                        <li class="font-18 font-weight-700 border-bottom">20</li>
                                        <li class="font-14 text-center text-uppercase mt-5">Jan</li>
                                    </ul>
                                </div>
                                <div class="event-content pt-5">
                                    <h5 class="media-heading font-16 font-weight-600 mb-5"><a href="#">Open Registration</a></h5>
                                    <span class="mr-10"><i class="fa fa-clock-o text-theme-colored2"></i> 8.00 am - 12pm </span>
                                    <span> <i class="fa fa-map-marker text-theme-colored2"></i> All Over Nigeria.</span>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="event-small media sm-maxwidth400 mt-5 mb-0 pt-10 pb-15">
                                <div class="event-date text-center">
                                    <ul class="text-white">
                                        <li class="font-18 font-weight-700 border-bottom">28</li>
                                        <li class="font-14 text-center text-uppercase mt-5">Feb</li>
                                    </ul>
                                </div>
                                <div class="event-content pt-5">
                                    <h5 class="media-heading font-16 font-weight-600 mb-5"><a href="#">Workshop Online Marketing</a></h5>
                                    <span class="mr-10"><i class="fa fa-clock-o text-theme-colored2"></i> 2.00 pm - 5.30 pm</span>
                                    <span> <i class="fa fa-map-marker text-theme-colored2"></i> Online.</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Courses -->
    <section id="courses" class="bg-silver-deep">
        <div class="container pb-40">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase title">Our <span class="text-theme-colored2">Courses</span></h2>
                        <div class="double-line-bottom-centered-theme-colored-2 mt-20"></div>
                        <p class="text-uppercase">Choose Your Desired Course</p>
                    </div>
                </div>
            </div>
            <div class="row mtli-row-clearfix">
                <div class="owl-carousel-3col" data-nav="true">
                    <div class="item">
                        <div class="course-single-item bg-white border-1px clearfix mb-30">
                            <div class="course-thumb">
                                @*<img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm1.jpg">*@
                                @*<img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/Enterp2.jpeg" />*@
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/NewEnterp.png" />
                                <div class="price-tag">Price</div>
                            </div>
                            <div class="course-details clearfix p-20 pt-15">
                                <div class="course-top-part pull-left mr-40">
                                    <a href="#"><h4 class="mt-0 mb-5">Theoritical Enterpreneurship</h4></a>
                                    <ul class="list-inline">
                                        <li class="review-stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>25 <i class="fa fa-comments-o text-theme-colored2"></i></li>
                                        <li>68 <i class="fa fa-thumbs-o-up text-theme-colored2"></i></li>
                                    </ul>
                                </div>
                                @*<div class="author-thumb">
                                        <img src="~/Content/Assets/images/course/xs1.jpg" alt="" class="img-circle">
                                    </div>*@
                                <div class="clearfix"></div>
                                <p class="course-description mt-20">The earth is the only planet made with unlimited funds and resources fashioned to reward and empower its tenants and patriots involved in its different fields. </p>
                                @*<ul class="list-inline course-meta mt-15">
                                        <li>
                                            <h6>4 year</h6>
                                            <span> Course</span>
                                        </li>
                                        <li>
                                            <h6>35</h6>
                                            <span> Class Size</span>
                                        </li>
                                        <li>
                                            <h6><span class="course-time">2 hours 30 min</span></h6>
                                            <span> Class Duration</span>
                                        </li>
                                    </ul>*@
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="course-single-item bg-white border-1px clearfix mb-30">
                            <div class="course-thumb">
                                @*<img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm2.jpg">*@
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/NewMarket Enterp1.jpg" />
                                <div class="price-tag">Price</div>
                            </div>
                            <div class="course-details clearfix p-20 pt-15">
                                <div class="course-top-part pull-left mr-40">
                                    <a href="#"><h4 class="mt-0 mb-5">Practical Enterpreneurship</h4></a>
                                    <ul class="list-inline">
                                        <li class="review-stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                        <li>25 <i class="fa fa-comments-o text-theme-colored2"></i></li>
                                        <li>68 <i class="fa fa-thumbs-o-up text-theme-colored2"></i></li>
                                    </ul>
                                </div>
                                @*<div class="author-thumb">
                                        <img src="~/Content/Assets/images/course/xs2.jpg" alt="" class="img-circle">
                                    </div>*@
                                <div class="clearfix"></div>
                                <p class="course-description mt-20">All of the exceptionally wealthy people I have interacted with and know about have gone against the grain of convention. Bill Gates and Mark Zuckerberg</p>
                                @*<ul class="list-inline course-meta mt-15">
                                        <li>
                                            <h6>3 year</h6>
                                            <span> Course</span>
                                        </li>
                                        <li>
                                            <h6>20</h6>
                                            <span> Class Size</span>
                                        </li>
                                        <li>
                                            <h6><span class="course-time">1 hour 45 min</span></h6>
                                            <span> Class Duration</span>
                                        </li>
                                    </ul>*@
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="course-single-item bg-white border-1px clearfix mb-30">
                            <div class="course-thumb">
                                @*<img  src="~/Content/Assets/images/course/sm3.jpg">*@
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/WealthCreation.jpg" />
                                <div class="price-tag">Price</div>
                            </div>
                            <div class="course-details clearfix p-20 pt-15">
                                <div class="course-top-part pull-left mr-40">
                                    <a href="#"><h4 class="mt-0 mb-5">Wealth Creation</h4></a>
                                    <ul class="list-inline">
                                        <li class="review-stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>25 <i class="fa fa-comments-o text-theme-colored2"></i></li>
                                        <li>68 <i class="fa fa-thumbs-o-up text-theme-colored2"></i></li>
                                    </ul>
                                </div>
                                @*<div class="author-thumb">
                                        <img src="~/Content/Assets/images/course/xs3.jpg" alt="" class="img-circle">
                                    </div>*@
                                <div class="clearfix"></div>
                                <p class="course-description mt-20">There are wealth creation laws and principles that governs earth, once we apply them they answer to our societal world and economy.</p>
                                @*<ul class="list-inline course-meta mt-15">
                                        <li>
                                            <h6>2 year</h6>
                                            <span> Course</span>
                                        </li>
                                        <li>
                                            <h6>30</h6>
                                            <span> Class Size</span>
                                        </li>
                                        <li>    
                                            <h6><span class="course-time">2 hours 30 min</span></h6>
                                            <span> Class Duration</span>
                                        </li>
                                    </ul>*@
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="course-single-item bg-white border-1px clearfix mb-30">
                            <div class="course-thumb">
                                @*<img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/sm4.jpg">*@
                                <img class="img-fullwidth" alt="" src="~/Content/Assets/images/course/salesManager.jpg" />
                                <div class="price-tag">Price</div>
                            </div>
                            <div class="course-details clearfix p-20 pt-15">
                                <div class="course-top-part pull-left mr-40">
                                    <a href="#"><h4 class="mt-0 mb-5">Sales To Management</h4></a>
                                    <ul class="list-inline">
                                        <li class="review-stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                        <li>25 <i class="fa fa-comments-o text-theme-colored2"></i></li>
                                        <li>68 <i class="fa fa-thumbs-o-up text-theme-colored2"></i></li>
                                    </ul>
                                </div>
                                @*<div class="author-thumb">
                                        <img src="~/Content/Assets/images/course/xs1.jpg" alt="" class="img-circle">
                                    </div>*@
                                <div class="clearfix"></div>
                                <p class="course-description mt-20">Research has shown that it cost five times as much to acquire a new customer as it does to retain an existing customer.</p>
                                @*<ul class="list-inline course-meta mt-15">
                                        <li>
                                            <h6>1 year</h6>
                                            <span> Course</span>
                                        </li>
                                        <li>
                                            <h6>45</h6>
                                            <span> Class Size</span>
                                        </li>
                                        <li>
                                            <h6><span class="course-time">3 hours 20 min</span></h6>
                                            <span> Class Duration</span>
                                        </li>
                                    </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--start Funfacts Section-->
    <section class="parallax layer-overlay overlay-theme-colored-9" data-bg-img="~/Content/Assets/images/bg/bg1.jpg" data-parallax-ratio="0.4">
        <div class="container pt-90 pb-90">
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                        <div class="funfact text-center">
                            <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="5100" data-theme="minimal">0</div>
                            <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
                            <h5 class="text-white text-uppercase mb-0">Happy Students</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                        <div class="funfact text-center">
                            <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="200" data-theme="minimal">0</div>
                            <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
                            <h5 class="text-white text-uppercase mb-0">Approved Courses</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                        <div class="funfact text-center">
                            <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="20" data-theme="minimal">0</div>
                            <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
                            <h5 class="text-white text-uppercase mb-0">Certified Teachers</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
                        <div class="funfact text-center">
                            <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="600" data-theme="minimal">0</div>
                            <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
                            <h5 class="text-white text-uppercase mb-0">Graduate Students</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Team -->
    <!-- Section: Events -->
    <section>
        <div class="container pb-50">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-5">
                        <h3 class="text-uppercase line-bottom-theme-colored-2 line-height-1 mt-0 mt-sm-30"><i class="fa fa-question-circle-o mr-10"></i>Frequently Asked <span class="text-theme-colored2">Questions</span></h3>
                        <div class="panel-group accordion-stylished-left-border accordion-icon-filled accordion-no-border accordion-icon-left accordion-icon-filled-theme-colored2" id="accordion6" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headin1">
                                    <h6 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion6" href="#collaps1" aria-expanded="true" aria-controls="collaps1">
                                            Why Codedenim is Best?
                                        </a>
                                    </h6>
                                </div>
                                <div id="collaps1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headin1">
                                    <div class="panel-body">
                                        Initiating a culture of solution birthing across disciplines. In all stages & at all levels,
                                        work and study engagement
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headin2">
                                    <h6 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion6" href="#collaps2" aria-expanded="true" aria-controls="collaps2">
                                            Why Codedenim is Best?
                                        </a>
                                    </h6>
                                </div>
                                <div id="collaps2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headin2">
                                    <div class="panel-body">
                                        Initiating a culture of solution birthing across disciplines. In all stages & at all levels,
                                        work and study engagement
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headin3">
                                    <h6 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion6" href="#collaps3" aria-expanded="true" aria-controls="collaps3">
                                            Why Codedenim is Best?
                                        </a>
                                    </h6>
                                </div>
                                <div id="collaps3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headin3">
                                    <div class="panel-body">
                                        Initiating a culture of solution birthing across disciplines. In all stages & at all levels,
                                        work and study engagement
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headin4">
                                    <h6 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion6" href="#collaps4" aria-expanded="true" aria-controls="collaps4">
                                            Why Codedenim is Best?
                                        </a>
                                    </h6>
                                </div>
                                <div id="collaps4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headin4">
                                    <div class="panel-body">
                                        Initiating a culture of solution birthing across disciplines. In all stages & at all levels,
                                        work and study engagement
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3 class="text-uppercase line-bottom-theme-colored-2 line-height-1 mt-0 mt-sm-30"><i class="fa fa-photo mr-10"></i>See Our <span class="text-theme-colored2">Gallery</span></h3>
                        <div class="gallery-isotope default-animation-effect grid-4 gutter clearfix" data-lightbox="gallery">
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm1.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg1.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm2.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg2.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm3.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg3.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm4.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg4.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm5.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg5.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm6.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg6.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm7.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg7.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm8.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg8.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm9.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg9.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm10.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg10.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm11.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg11.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/Content/Assets/images/gallery/gallery-sm12.jpg" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="~/Content/Assets/images/gallery/gallery-lg12.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Testimonials -->
    <section class="parallax Divider layer-overlay overlay-theme-colored-9" data-bg-img="~/Content/Assets/images/bg/bg7.jpg" data-parallax-ratio="0.4">
        <div class="container pt-70 pb-30">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase text-white title">What <span class="text-theme-colored2">People </span>Say</h2>
                        <div class="double-line-bottom-centered-theme-colored-2 mt-20"></div>
                        <p class="text-uppercase mb-0">Student and Parents Opinion</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="owl-carousel-2col boxed" data-dots="true">
                        <div class="item">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0">
                                    <img class="img-thumbnail img-circle" alt="" src="~/Content/Assets/images/testimonials/1.jpg" width="110">
                                </div>
                                <div class="testimonial-content">
                                    <h4 class="text-white font-weight-300 mt-0">This is a Great Platform for Learing. I guarantee you will learn many things</h4>
                                    <h5 class="text-theme-colored2 mt-10 font-16 mb-0">Catherine Grace</h5>
                                    <h6 class="text-gray-darkgray mt-5">Ara rocks</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0">
                                    <img class="img-thumbnail img-circle" alt="" src="~/Content/Assets/images/testimonials/2.jpg" width="110">
                                </div>
                                <div class="testimonial-content">
                                    <h4 class="text-white font-weight-300 mt-0">This content is what is not taught in most schools. Getting on this platform is a blessing.</h4>
                                    <h5 class="text-theme-colored2 mt-10 font-16 mb-0">Catherine Grace</h5>
                                    <h6 class="text-gray-darkgray mt-5">CEO apple.inc</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0">
                                    <img class="img-thumbnail img-circle" alt="" src="~/Content/Assets/images/testimonials/3.jpg" width="110">
                                </div>
                                <div class="testimonial-content">
                                    <h4 class="text-white font-weight-300 mt-0">World Class Learning Materials.</h4>
                                    <h5 class="text-theme-colored2 mt-10 font-16 mb-0">Catherine Grace</h5>
                                    <h6 class="text-gray-darkgray mt-5">CEO apple.inc</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0">
                                    <img class="img-thumbnail img-circle" alt="" src="~/Content/Assets/images/testimonials/1.jpg" width="110">
                                </div>
                                <div class="testimonial-content">
                                    <h4 class="text-white font-weight-300 mt-0">Codedenim is just on point.</h4>
                                    <h5 class="text-theme-colored2 mt-10 font-16 mb-0">Catherine Grace</h5>
                                    <h6 class="text-gray-darkgray mt-5">CEO apple.inc</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section: blog -->
    <section id="blog" class="bg-silver-deep">
        <div class="container pb-40">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-uppercase title">Latest <span class="text-theme-colored2">News </span></h2>
                        <p class="text-uppercase mb-0">See All Time Latest News</p>
                        <div class="double-line-bottom-theme-colored-2"></div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="owl-carousel-2col owl-nav-top" data-nav="true">
                            <div class="item">
                                <article class="post clearfix mb-30">
                                    <div class="entry-header">
                                        <div class="post-thumb thumb">
                                            <img src="~/Content/Assets/images/blog/1.jpg" alt="" class="img-responsive img-fullwidth">
                                        </div>
                                        <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-colored2-3px pt-5 pr-15 pb-5 pl-15">
                                            <ul>
                                                <li class="font-16 text-white font-weight-600">28</li>
                                                <li class="font-12 text-white text-uppercase">Feb</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="entry-content bg-white p-15">
                                        <div class="entry-meta media no-bg no-border mt-0 mb-10">
                                            <div class="media-body pl-0">
                                                <div class="event-content pull-left flip">
                                                    <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="blog-single-left-sidebar.html">Post title here</a></h4>
                                                    <ul class="list-inline">
                                                        <li><i class="fa fa-user-o mr-5 text-theme-colored2"></i>By Author</li>
                                                        <li><i class="fa fa-thumbs-o-up mr-5 text-theme-colored2"></i>Likes</li>
                                                        <li><i class="fa fa-share-alt mr-5 text-theme-colored2"></i> 895 Likes</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mt-5">Learn the Latest About Codedenim</p>
                                        <a class="btn btn-default btn-flat font-12 mt-10 ml-5" href="#"> View Details</a>
                                    </div>
                                </article>
                            </div>
                            <div class="item">
                                <article class="post clearfix mb-30">
                                    <div class="entry-header">
                                        <div class="post-thumb thumb">
                                            <img src="~/Content/Assets/images/blog/2.jpg" alt="" class="img-responsive img-fullwidth">
                                        </div>
                                        <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-colored2-3px pt-5 pr-15 pb-5 pl-15">
                                            <ul>
                                                <li class="font-16 text-white font-weight-600">28</li>
                                                <li class="font-12 text-white text-uppercase">Feb</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="entry-content bg-white p-15">
                                        <div class="entry-meta media no-bg no-border mt-0 mb-10">
                                            <div class="media-body pl-0">
                                                <div class="event-content pull-left flip">
                                                    <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="blog-single-left-sidebar.html">Post title here</a></h4>
                                                    <ul class="list-inline">
                                                        <li><i class="fa fa-user-o mr-5 text-theme-colored2"></i>By Author</li>
                                                        <li><i class="fa fa-thumbs-o-up mr-5 text-theme-colored2"></i>Likes</li>
                                                        <li><i class="fa fa-share-alt mr-5 text-theme-colored2"></i> 895 Likes</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mt-5">Learn the Latest About Codedenim</p>
                                        <a class="btn btn-default btn-flat font-12 mt-10 ml-5" href="#"> View Details</a>
                                    </div>
                                </article>
                            </div>
                            <div class="item">
                                <article class="post clearfix mb-30">
                                    <div class="entry-header">
                                        <div class="post-thumb thumb">
                                            <img src="~/Content/Assets/images/blog/3.jpg" alt="" class="img-responsive img-fullwidth">
                                        </div>
                                        <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-colored2-3px pt-5 pr-15 pb-5 pl-15">
                                            <ul>
                                                <li class="font-16 text-white font-weight-600">28</li>
                                                <li class="font-12 text-white text-uppercase">Feb</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="entry-content bg-white p-15">
                                        <div class="entry-meta media no-bg no-border mt-0 mb-10">
                                            <div class="media-body pl-0">
                                                <div class="event-content pull-left flip">
                                                    <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="blog-single-left-sidebar.html">Post title here</a></h4>
                                                    <ul class="list-inline">
                                                        <li><i class="fa fa-user-o mr-5 text-theme-colored2"></i>By Author</li>
                                                        <li><i class="fa fa-thumbs-o-up mr-5 text-theme-colored2"></i>Likes</li>
                                                        <li><i class="fa fa-share-alt mr-5 text-theme-colored2"></i> 895 Likes</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mt-5">Learn the Latest About Codedenim</p>
                                        <a class="btn btn-default btn-flat font-12 mt-10 ml-5" href="#"> View Details</a>
                                    </div>
                                </article>
                            </div>
                            <div class="item">
                                <article class="post clearfix mb-30">
                                    <div class="entry-header">
                                        <div class="post-thumb thumb">
                                            <img src="~/Content/Assets/images/blog/4.jpg" alt="" class="img-responsive img-fullwidth">
                                        </div>
                                        <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-colored2-3px pt-5 pr-15 pb-5 pl-15">
                                            <ul>
                                                <li class="font-16 text-white font-weight-600">28</li>
                                                <li class="font-12 text-white text-uppercase">Feb</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="entry-content bg-white p-15">
                                        <div class="entry-meta media no-bg no-border mt-0 mb-10">
                                            <div class="media-body pl-0">
                                                <div class="event-content pull-left flip">
                                                    <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="blog-single-left-sidebar.html">Post title here</a></h4>
                                                    <ul class="list-inline">
                                                        <li><i class="fa fa-user-o mr-5 text-theme-colored2"></i>By Author</li>
                                                        <li><i class="fa fa-thumbs-o-up mr-5 text-theme-colored2"></i>Likes</li>
                                                        <li><i class="fa fa-share-alt mr-5 text-theme-colored2"></i> 895 Likes</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mt-5">Learn the Latest About Codedenim</p>
                                        <a class="btn btn-default btn-flat font-12 mt-10 ml-5" href="#"> View Details</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h2 class="mt-0 line-height-1"><span class="text-theme-colored2">Contact us</span></h2>
                                <div class="double-line-bottom-theme-colored-2 mt-15 mb-10"></div>
                                <p class="mb-15">----------------</p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="icon-box left media bg-white border-1px p-15 mb-15">
                                    <a class="media-left pull-left" href="#"> <i class="pe-7s-map-2 text-theme-colored2"></i></a>
                                    <div class="media-body">
                                        <h5 class="mt-0">Our Office Location</h5>
                                        <p>Plot 7A Ara Rocks Creative House, Off Liberty Dam Road-Behind De Eden Hotel Jos-Plateau State.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="icon-box left media bg-white border-1px p-15 mb-15">
                                    <a class="media-left pull-left" href="#"> <i class="pe-7s-call text-theme-colored2"></i></a>
                                    <div class="media-body">
                                        <h5 class="mt-0">Contact Number</h5>
                                        <p>+234 813-6712-272</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="icon-box left media bg-white border-1px p-15 mb-15">
                                    <a class="media-left pull-left" href="#"> <i class="pe-7s-mail text-theme-colored2"></i></a>
                                    <div class="media-body">
                                        <h5 class="mt-0">Email Address</h5>
                                        <p>info@ararockscreativecraftinstitute.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Map -->
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.4174191797224!2d8.90529831478605!3d9.899149492920381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x105373c15ca265eb%3A0x173b46bc41f14429!2sLamingo+Rd%2C+Jos!5e0!3m2!1sen!2sng!4v1516186035369" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>  
    </section>

    <!-- Divider: Call To Action -->
    <section class="bg-theme-colored2">
        <div class="container pt-0 pb-0">
            <div class="row">
                <div class="call-to-action sm-text-center">
                    <div class="col-md-7">
                        <h4 class="text-white mb-0">Are you ready to get start?</h4>
                        <h2 class="text-white mt-0">Subscribe Newsletter for Get in Touch!</h2>
                    </div>
                    <div class="col-md-5">
                        <!-- Mailchimp Subscription Form Starts Here -->
                        <form id="mailchimp-subscription-form-footer" class="newsletter-form mt-20 pt-5">
                            <div class="input-group">
                                <input value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" style="height: 45px;" type="email">
                                <span class="input-group-btn">
                                    <button data-height="45px" class="btn btn-theme-colored text-white btn-xs m-0 font-14" type="submit" style="height: 45px;">Subscribe</button>
                                </span>
                            </div>
                        </form>
                        <!-- Mailchimp Subscription Form Validation-->
                        <script type="text/javascript">
                            $('#mailchimp-subscription-form-footer').ajaxChimp({
                                callback: mailChimpCallBack,
                                url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;amp;amp;id=49d6d30e1e'
                            });

                            function mailChimpCallBack(resp) {
                                // Hide any previous response text
                                var $mailchimpform = $('#mailchimp-subscription-form-footer'),
                                    $response = '';
                                $mailchimpform.children(".alert").remove();
                                if (resp.result === 'success') {
                                    $response = '&amp;lt;div class="alert alert-success"&amp;gt;&amp;lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&amp;gt;&amp;lt;span aria-hidden="true"&amp;gt;&amp;amp;times;&amp;lt;/span&amp;gt;&amp;lt;/button&amp;gt;' + resp.msg + '&amp;lt;/div&amp;gt;';
                                } else if (resp.result === 'error') {
                                    $response = '&amp;lt;div class="alert alert-danger"&amp;gt;&amp;lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&amp;gt;&amp;lt;span aria-hidden="true"&amp;gt;&amp;amp;times;&amp;lt;/span&amp;gt;&amp;lt;/button&amp;gt;' + resp.msg + '&amp;lt;/div&amp;gt;';
                                }
                                $mailchimpform.prepend($response);
                            }
                        </script>
                        <!-- Mailchimp Subscription Form Ends Here -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end main-content -->
</div>
<!-- Footer -->